<script>
var hostname = window.location.hostname; 
var path = window.location.pathname;
if (hostname.startsWith("www.")){
}else{
    document.write('<div class="panel panel-danger"><div class="panel-heading">');
    
    if (hostname.indexOf(".") > - 1){
        document.write('This documentation is for version ');
        var ver = hostname.substring(0,hostname.indexOf("."));
        document.write(ver);
        document.write('.');
        //document.write(hostname.indexOf("."));    
    }else{
        
    }
    document.write('View the <a href="https://www.verdoc.co.uk' + path + '">latest version</a>');
    document.write('</div></div>');
};

</script>